

/*
	CSS tags for image layout
*/

div.thumb-holder 
{
	width: 90%;
	margin: 5px 20px;
//#	background-color: rgb(55,55,55);
	
//#	p {display: table-cell; vertical-align: middle}	
}

div.thumb 
{
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	width: 29%;
	margin-bottom: 10px;
//#	background-color: rgb(11,111,11);
}

div.thumb img
{
	display: block;
   margin-left: auto;
    margin-right: auto;

//#    display: block; margin: 1em aut
}


div.thumb p 
{
	text-align: center;
//#	margin-bottom: 20px;
	
//#	background-color: rgb(255,255,255);	
}

div.spacer 
{
	clear: both;
	/*stops the float*/
}
