/ioio-android/target/
/ioio-bluetooth/target/
/ioio-commons/target/
/ioio-pc/target/
/pixel-art-android/bin/
/pixel-art-android/target/
/pixel-pc/target/
/pixel-scrolling-text-android/bin/
/pixel-scrolling-text-android/gen/
/pixel-touch-android/bin/
/pixel-touch-android/target/
/pixel-touch-pc/target/
/pixel-scrolling-text-android/target/
/target/
/ioio-simple-app/target/
/pixel-jee/target/
/pixel-weather/target/
/pixel-plugin-tests/target/